/*

Tijdelijke styling bovenop RHC componenten die de huidige huisstijl tonen

Dit bestand bevat tijdelijke styling, die de ‘huidige MO styling’ vs. de nieuwe MO huisstijl die in ontwikkeling (Q1/2027) is te overbruggen. Bij het verwijderen van dit CSS bestand zou de styling terugvallen op RHC (waar via rhc.css al enkele andere tweaks aan plaats hebben gevonden in de context van de richting die de nieuwe MO huisstijl op gaat.

*/

.rhc-theme.mox-theme {

	/* Typography */
	h1,
	h2,
	h3,
	h4,
	h5 {
		color: var(--rhc-color-light-cool-grey-900);
		font-weight: normal;
	}

	/* Forms */
	.utrecht-textbox {
		max-inline-size: 100%;
	}

	/* Body */
	.utrecht-page-body {
		padding-block-end: 0;
		padding-block-start: var(--rhc-space-2xl);
	}

	.utrecht-page-body,
	.utrecht-page-body__content {
		background-color: var(--rhc-color-cool-grey-100);
	}

	#hoofd-inhoud {
		padding-block-end: var(--rhc-space-max-4xl);
	}

	/* Page header */
	.rhc-nav-bar__container {
		border-block-end-width: 0;
	}

	.utrecht-page-header {
		border-block-end-width: var(--rhc-border-width-md);
	}

	.rhc-nav-bar__list:first-child .rhc-nav-bar__link {
		color: var(--rhc-color-light-cool-grey-900);
		font-size: var(--rhc-text-font-size-min-2xl);
		font-weight: normal;
	}

	/* Language nav */
	.utrecht-page-header__content {
		position: relative;
	}

	.rhc-language-navigation {
		position: absolute;
		right: 0;
		top: var(--rhc-space-2xl);

		button {
			text-decoration: none;
		}

		.utrecht-icon {
			display: none;
		}
	}

	/* Sidenav */
	.rhc-side-nav__link {
		color: var(--rhc-color-light-cool-grey-900);
	}

	/* Main */
	.mox-main-container {
		align-content: start;
		display: grid;
		gap: var(--rhc-space-2xl)
	}

	.mox-card,
	.rhc-table {
		background-color: var(--rhc-color-wit);
		border-radius: var(--rhc-border-radius-md);
		box-shadow: 0 0 6px 0 var(--rhc-color-light-cool-grey-400);
		padding: var(--rhc-space-3xl);
	}

	.mox-faq-card {
		background-color: var(--rhc-color-wit);
		border-radius: var(--rhc-border-radius-md);
		box-shadow: 0 0 6px 0 var(--rhc-color-light-cool-grey-400);

	}

	/* Accordeon */
	.utrecht-accordion {
		padding: var(--rhc-space-max-xl);
	}

	.utrecht-accordion__section {
		border: 0;
	}

	.mox-card {
		h2 {
			margin-block-end: var(--rhc-space-xl);
		}

		p,
		ul,
		ol:not(.ams-pagination__list) {
			margin-block-end: var(--rhc-space-lg);
		}

		.utrecht-action-group,
		.utrecht-button--primary-action {
			margin-block-start: var(--rhc-space-2xl);
		}

		.utrecht-table {
			padding: 0;
		}

		.utrecht-accordion {
			padding: 0;
		}
	}

	/* Footer */
	.rhc-page-footer {
		background-color: var(--rhc-color-light-cool-grey-800);

		h2 {
			color: var(--rhc-color-wit);
		}
	}

	/* Pagination */
	.ams-pagination__link {
		align-items: center;
		border: var(--rhc-border-width-sm) solid var(--rhc-color-cool-grey-300);
		border-radius: var(--rhc-border-radius-md);
		justify-content: center;
		margin-inline: var(--rhc-space-sm);
		min-block-size: var(--rhc-space-max-5xl);
		min-inline-size: var(--rhc-space-max-5xl);
		padding-inline: var(--rhc-space-max-lg);

		&[aria-current="page"] {
			background: var(--rhc-color-light-lintblauw-500);
			color: var(--rhc-color-wit);
		}
	}

	/* Berichtenbox */
	[aria-label="Berichtenbox"] {
		a {
			text-decoration: none;
		}
	}

	/* Icons */
	.utrecht-icon {
		block-size: var(--rhc-size-icon-md);
		inline-size: var(--rhc-size-icon-md);
	}

	/* Feedback */
	.mox-feedback-notice {
		margin-block-start: var(--rhc-space-2xl);
	}

	/* Feature flags-panel */
	#flags-paneel {
		background: var(--rhc-color-cool-grey-100);
		block-size: 100%;
		box-shadow: 0 0 6px 0 var(--rhc-color-light-cool-grey-400);
		inline-size: fit-content;
		position: absolute;
		right: 0;

		>div {
			display: flex;
			gap: var(--rhc-space-5xl)
		}

		h2,
		legend {
			margin-block-end: var(--rhc-space-lg);
		}

		.utrecht-form-fieldset__fieldset {
			display: flex;
			flex-direction: column;
			gap: var(--rhc-space-md);
		}

		summary {
			font-size: 1.25rem;
			font-weight: bold;
			margin-block: var(--rhc-space-lg);
		}

		button {
			margin-block-start: var(--rhc-space-lg);
		}
	}

	/* Flags-panel: pauze animations */
	.animations-paused *,
	.animations-paused *::before,
	.animations-paused *::after {
		animation-play-state: paused !important;
		transition: none !important;
	}
}